#title {
    background-color: #FF4C68;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    padding: 2rem;
    padding-left: 0;
}

.nav-item {
    font-size: 1.2em;
    margin-left: 0.8em;
}

.container-fluid {
    padding: 3% 15%;
}

.download-btn {
    margin-top: 5px;
}

.navbar-brand {
    font-size: 3em;
    font-weight: 400;
}

.title-container {
    margin-top: 2em;
}

.description-container {
    margin-bottom: 2.5em;
    padding-top: 2em;
}

.android-download-btn {
    margin-left: 1em;
}

.app-img {
    transform: rotate(20deg);
    padding-top: 2em;
}